/* Variable Overrides */

$custom-control-indicator-size: 1;

/* Primary */
$blue-050: #dceefb;
$blue-100: #b6e0fe;
$blue-200: #84c5f4;
$blue-300: #62b0e8;
$blue-400: #4098d7;
$blue-500: #2680c2;
$blue-600: #186faf;
$blue-700: #0f609b;
$blue-800: #0a558c;
$blue-900: #003e6b;

/* Neutrals */
$blue-grey-050: #f0f4f8;
$blue-grey-100: #d9e2ec;
$blue-grey-200: #bcccdc;
$blue-grey-300: #9fb3c8;
$blue-grey-400: #829ab1;
$blue-grey-500: #627d98;
$blue-grey-600: #486581;
$blue-grey-700: #334e68;
$blue-grey-800: #243b53;
$blue-grey-900: #102a43;

/* Supporting */
$teal-vivid-050: #f0fcf9;
$teal-vivid-100: #c6f7e9;
$teal-vivid-200: #8eedd1;
$teal-vivid-300: #5fe3c0;
$teal-vivid-400: #2dcca7;
$teal-vivid-500: #17b897;
$teal-vivid-600: #079a82;
$teal-vivid-700: #048271;
$teal-vivid-800: #016457;
$teal-vivid-900: #004440;

$red-050: #ffeeee;
$red-100: #facdcd;
$red-200: #f29b9b;
$red-300: #e66a6a;
$red-400: #d64545;
$red-500: #ba2525;
$red-600: #a61b1b;
$red-700: #911111;
$red-800: #780a0a;
$red-900: #610404;

$yellow-050: #fffaeb;
$yellow-100: #fcefc7;
$yellow-200: #f8e3a3;
$yellow-300: #f9da8b;
$yellow-400: #f7d070;
$yellow-500: #e9b949;
$yellow-600: #c99a2e;
$yellow-700: #a27c1a;
$yellow-800: #7c5e10;
$yellow-900: #513c06;

/* Basic */
$white: #ffffff;
$black: #000000;
